@{
     ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>BITLINK is a free service for making short URLs.</p>
</br>
<p>This application is built using <b>C#</b> as part of an <b>ASP.NET MVC</b> project.</p>
</p>It utilizes <b>Entity Framework Core</b> for database interactions and <b>GitHub Actions</b> for continuous deployment.</p>
<p>The application and its database are hosted on <b>Microsoft Azure</b>.</p>
</br>
<p>You can find the code here: <a href="https://github.com/TroelsHal/bitlink" target="_blank">github.com/TroelsHal/bitlink</a></p>
