@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>BITLINK is a free service for making short URLs.</p>
</br>
<p>The application is made by Troels Halgreen with ASP.NET, EF Core and Microsoft Azure.</p>
<p>You can find the code here: <a href="https://github.com/TroelsHal/bitlink" target="_blank">github.com/TroelsHal/bitlink</a></p>
