@{
    ViewData["Title"] = "URL Analytics";
}

<div class="text-center">
    <h1 class="display-4">URL Analytics</h1>
    <p>Enter the short URL code below to get its analytics:</p>

    <form asp-action="GetAnalytics" asp-controller="Home" method="post" class="form-inline justify-content-center">
        <div class="form-group mb-2">
            <label for="shortCode" class="sr-only">Enter Short URL Code</label>
            <input type="text" class="form-control" name="input" placeholder="Enter short URL Code" required />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Get Analytics</button>
    </form>
</div>