@{
    ViewData["Title"] = "URL Not Found";
}

<div class="container text-center">
    <h1 class="display-4 mt-5">Oops!</h1>
    <p class="lead">We couldn't find the URL you're looking for.</p>
    <p><a href="/" class="btn btn-primary">Go to Home</a></p>
</div>

<style>
    .container {
        padding-top: 10%;
    }
</style>